<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="data_studentConnectionString" connectionString="Data Source=103.212.121.67;Initial Catalog=data_student;Persist Security Info=True;User ID=data_student;Password=Student@4050"
      providerName="System.Data.SqlClient" />
    <add name="data_studentConnectionString2" connectionString="Data Source=103.212.121.67;Initial Catalog=data_student;Persist Security Info=True;User ID=data_student;Password=Student@4050"
      providerName="System.Data.SqlClient" />
    <add name="data_studentConnectionString3" connectionString="Data Source=103.212.121.67;Initial Catalog=data_student;Persist Security Info=True;User ID=data_student;Password=Student@4050"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <pages enableEventValidation="false"/>
    <compilation debug="true" targetFramework="4.6.1"/>
  </system.web>
</configuration>